html {
    font-size: 14px;
}

.container {
    max-width: 1366px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.pricing-header {
    max-width: 700px;
}

.card-deck .card {
    min-width: 220px;
}

.header-row {
    background-color: cornsilk;
}

.table-row:nth-child(odd) {
    color: black;
    background-color: #feffac;
}

.table-row:nth-child(odd):hover {
    color: black;
    background-color: #e9eaa1;
}

.table-row:nth-child(even) {
    color: black;
    background-color: #9affa3;

}

.table-row:nth-child(even):hover {
    color: black;
    background-color: #8dea96;
}

.table-row:last-child{
    margin-bottom: 15px !important;
}

.margined-right {
    margin-right: 10px;
}

.margined-left {
    margin-left: 10px;
}

.bordered {
    border: 1px solid;
}

.const-height {
    height: 50px;
    min-height: 50px;
    align-items: center;
    display: flex;
}

.label-alignment-middle {
    margin-bottom: 0px;
    text-align: center;
    vertical-align: middle;
}

#unavailableCheckbox {
    height: 25px;
}

#button-margin {
    padding-top: 10px;
}

.marginless {
    margin: 0px !important;
}
.paddingless{
    padding: 0px !important;
}
hr {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #EEEEEE -moz-use-text-color #FFFFFF;
    border-style: solid none;
    border-width: 1px 0;
    margin: 18px 0;
}
.additional-space{
    margin-bottom: 30px;
}
#div-line-margin{
    height: 2px;
    min-height: 2px;
    background-color: black;
}